
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita cualquier desplazamiento horizontal */
}

/*portada*/
.nav-logo{
    color:#07517f;
}
.nav-logo:hover{
    color:#ffffff;
}
.nav-menu{
    color:#07517f;
    font-size:20pt;
}
.bg-offcanvas{
    background: rgba(251, 252, 252, 0.4);
}

.p_t{
    position: relative;
    color:white;
    font-size: 50pt;
}

.menu-tit{
    position: relative;
    color:white;
    text-decoration: none;
    font-family: 'Safira', sans-serif;
    font-size: 50pt;
}

.menu-subtit{
    position: relative;
    color:white;
    text-decoration: none;
    font-size: 50pt;
}

.image-container {
    position: relative;
    width: 100vw;  /* Ocupar todo el ancho de la pantalla */
    height: 100vh; /* Ocupar toda la altura de la pantalla */
    overflow: hidden; /* Evita que se vean espacios no deseados */
    margin: 0; /* Asegura que no haya márgenes extra */
    padding: 0; /* Elimina posibles espacios internos */
}

.full-width-image {
    width: 100vw;  /* Se expande completamente en ancho */
    height: 100vh; /* Se expande completamente en altura */
    object-fit: cover; /* Cubre todo sin distorsionarse */
    display: block; /* Evita márgenes extra inesperados */
}


.text-overlay {
    position: absolute;
    bottom: 0%;   /* Ajusta la posición del texto desde la parte superior */
    left: 70%;  /* Ajusta la posición del texto desde la izquierda */
    color: white;  /* Color blanco para que el texto sea visible sobre la imagen */
    font-family: "Arial", sans-serif;
    z-index: 2;   /* Asegura que el texto esté por encima de la imagen */
}

@media(max-width:1024px) and (min-width:576px){
    .p_t{
        font-size: 50pt;
    }
    
    .menu-tit{
        font-size: 50pt;
    }
    
}
@media(max-width:769px){
    .text-overlay {
        left: 60% !important;
    }
}
@media(min-width: 376px) and (max-width: 576px){
    .p_t{
        font-size: 40pt;
    }
    
    .menu-tit{
        font-size: 20pt;
    }
    .menu-subtit{
        font-size: 15pt;
    }
    .text-overlay {
        left: 45% !important;
    }
}
@media (min-width: 321px) and (max-width: 376px) {

    .p_t{
        font-size: 40pt;
    }
    
    .menu-tit{
        font-size: 10pt;
    }
    .image-container {
        width: 100vw;  /* Asegura que el contenedor ocupe toda la pantalla */
        height: 100vh;
    }

    .full-width-image {
        width: 100vw;  /* Evita desbordamientos */
        height: 100vh; 
        object-fit: cover;
    }
    .text-overlay {
        left: 35% !important;
    }
}

@media (max-width: 321px) {
    .p_t{
        font-size: 40pt;
    }
    .menu-tit{
        font-size: 10pt;
    }
    .image-container {
        width: 100vw;  /* Asegura que el contenedor ocupe toda la pantalla */
        height: 100vh;
    }

    .full-width-image {
        width: 100vw;  /* Evita desbordamientos */
        height: 100vh; 
        object-fit: cover;
    }
    .text-overlay {
        left: 30% !important;
    }
}
/*---------------------------------------------------------------------------------------------*/
.capitulo1{
    background-color: #9baeba;
}
.capitulo2{
    background-color: #57a5b5;
}
.capitulo3{
    background-color: #adccd2;
}
.capitulo4{
    background-color: #adccd2;
    height: 130vh;
}
.capitulo5{
    background-color: #b7cbe7;
}
.obra1{
    background-color: #523b30;
}
/***************************************************************************/

/*LETRAS*/

.fira-sans-extralight {
font-family: "Fira Sans", sans-serif;
font-weight: 200;
font-style: normal;
}

.fira-sans-light {
font-family: "Fira Sans", sans-serif;
font-weight: 300;
font-style: normal;
}

.fira-sans-regular {
font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-style: normal;
}

.fira-sans-medium {
font-family: "Fira Sans", sans-serif;
font-weight: 500;
font-style: normal;
}

.fira-sans-semibold {
font-family: "Fira Sans", sans-serif;
font-weight: 600;
font-style: normal;
}
  
.fira-sans-bold {
font-family: "Fira Sans", sans-serif;
font-weight: 700;
font-style: normal;
}

.fira-sans-extrabold {
font-family: "Fira Sans", sans-serif;
font-weight: 800;
font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Safira";
    src: url("../fonts/Safira March Personal Use Only.ttf");
}
@font-face {
    font-family: "Lulo";
    src: url("../fonts/Lulo-Clean-W01-One-Bold.ttf");
}
.titulo{
    font-family: 'Safira', sans-serif;
    letter-spacing: 0.35em;
}
.ind,.cabecera{
    font-family: 'Safira', sans-serif;
}

.numero{
    font-family: 'Lulo', sans-serif;
}

.subtitulo,.a_titulo,.texto-movil,.p_t{
    font-family: 'Bebas Neue', sans-serif; /* Incluye una fuente de respaldo como sans-serif */
}

.subtitulo{
    color:#07517f;
}

.subtitulo{
    font-size: 2.3rem;
}

.sorolla,.numero{
    color:#07517f;
}
/*Portada*/
.explicacion{
    background-color: rgb(252, 212, 140,0.5);
}
 /* Animación para mover el texto a la izquierda */
 @keyframes moverIzquierda {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Estilo del contenedor */
  .contenedor {
    overflow: hidden;
    width: 100%; /* Ajusta el ancho del contenedor */
  }

  /* Estilo del texto y la animación */
  .texto-movil {
    display: inline-block;
    font-size: 4rem; /* Puedes cambiar el tamaño del texto */
    font-weight: bold;
    white-space: nowrap;
    animation: moverIzquierda 40s linear infinite; /* 10s es la duración, ajusta según necesites */
  }
   /* Repetir el texto de forma continua */
   .texto-movil span {
    display: inline-block;
    padding-right: 50px; /* Añadimos un espacio entre cada repetición */
  }

/*Introducción*/
.menu{
    height: 50vh;
}
.menu-item{
    height: 50vh;
    width: 10vw;
}
.img-item{
    background-image: url('../img/verano.jpg');
    background-size: cover; /* Escala la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
}
.img2-item{
    background-image: url('../img/galeria_petit.jpg');
    background-size: cover; /* Escala la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
}

@media (min-width: 1024px) {

    .numero{
        font-size: 6rem; 
    }
    .titulo{
        font-size: 3rem; 
    }
    .ind{
        font-size:2.5rem;
    }
    .a_titulo{
        font-size: 5rem; 
    }
}

@media(max-width:1024px) and (min-width:576px){

    .numero {
        font-size: 8rem;
    }
    .titulo{
        font-size: 3rem;
    }
}

@media (min-width: 376px) and (max-width: 576px) {

    .numero {
        font-size: 3.5rem;
    }
    .titulo{
        font-size: 1.8rem; 
    }
}

@media (min-width: 321px) and (max-width: 376px) {

    .numero {
        font-size: 3rem; 
    }
    .titulo{
        font-size: 1.5rem; 
    }
}

@media (max-width: 321px) {

    .numero {
        font-size: 2.5rem;
    }
    .titulo,.subtitulo {
        font-size: 1.3rem; 
    }

}

/*ANIMACIONES*/
/* Animación para hacer que los números deslicen desde arriba */
@keyframes slide-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-top {
    display: inline-block;
    opacity: 0; /* Inicialmente oculto para la animación */
}

/* Agregar retraso a cada número para crear un efecto secuencial */
.slide-top:nth-child(1) {
    animation-delay: 0s; /* Sin retraso */
}
.slide-top:nth-child(2) {
    animation-delay: 0.1s; /* Retraso para el segundo número */
}
.slide-top:nth-child(3) {
    animation-delay: 0.2s; /* Retraso para el tercer número */
}
.slide-top:nth-child(4) {
    animation-delay: 0.3s; /* Retraso para el cuarto número */
}
.slide-top.show {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Capitulo 1*/

.cuadro {
    position: relative;
    perspective: 1000px; /* Asegura que la perspectiva se aplique al elemento principal */
}

.cuadro div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Esconde el lado opuesto durante la rotación */
    transition: transform 1s; /* Cambié 'transition' a 'transform' para asegurar una transición suave */
}

.cuadro .front {
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
}

.cuadro .front h1 {
    position: absolute; /* Permite ubicar el texto dentro del contenedor */
    bottom: 10px; /* Ajusta según el espacio que quieras desde abajo */
    left: 10px; /* Ajusta según el espacio que quieras desde la izquierda */
    margin: 0;
    font-size: 1.5rem; /* Tamaño del texto */
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para mejor contraste */
}

.cuadro1 .front {
    background-image: url('../img/sol_de_tarde.jpg');
}

.cuadro2 .front {
    background-image: url('../img/verano.jpg');
}

.cuadro3 .front {
    background-image: url('../img/Georges_Petit.png');
}

.cuadro4 .front {
    background-image: url('../img/pedro_gil.jpg');
}

.cuadro .back {
    background-color: rgb(251, 251, 251);
    font-size: 0.7rem;
    transform: rotateY(180deg); /* La cara posterior comienza en 180deg, invisible inicialmente */
}

.cuadro.active .front {
    transform: rotateY(180deg); /* Rota la cara frontal al activarse */
}

.cuadro.active .back {
    transform: rotateY(0deg); /* Muestra la cara trasera al activarse */
}
/* Estilo personalizado para limitar la altura */
.img-custom {
    height: 35vh; /* Altura fija del 40% del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

@media (min-width: 1024px) {
    .cuadro{
        height: 60vh;
    }
}

@media(max-width:1024px) and (min-width:576px){
    .cuadro{
        height: 60vh;
    }
    .img-custom{
        height: 45vh; /* Altura fija del 40% del viewport */
        object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
        width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
        margin-bottom: 1rem; /* Ajusta el valor como necesites */
    }
}

@media(max-width: 576px) {
    .cuadro{
        height: 40vh;
    }
    .margen{
        margin-top: 1rem; /* Ajusta el valor como necesites */
    }
}

/*Capitulo 2*/

.pedro_gil{
    width: 20vw;
    height: 50vh;
}

.acordeon{
    height: 40vh;
    width: 60vh;
}

@media (min-width: 1024px) {
    .card_expo{
        width: 50vw;
    }
    .artes{
        height: 50vh;
        width: 15vw;
    }
    .nombre_fotos{
        font-size: 1.5rem;
    }
}

@media(max-width:1024px) and (min-width:576px){
    .card_expo{
        width: 80vw;
    }
    .artes{
        height: 50vh;
        width: 20vw;
    }
    .margen{
        margin-top: 1rem; /* Ajusta el valor como necesites */
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .card_expo{
        width: 80vw;
    }
    .artes{
        height: 50vh;
        width: 35vw;
    }
    .nombre_fotos{
        font-size: 1.3rem;
    }
}

@media (min-width: 321px) and (max-width: 376px) {
    .card_expo{
        width: 80vw;
    }
    .artes{
        height: 45vh;
        width: 35vw;
    }
    .nombre_fotos{
        font-size: 1.2rem;
    }
}

@media (max-width: 321px) {
    .card_expo{
        width: 90vw;
    }
    .artes{
        height: 45vh;
        width: 38vw;
    }
    .nombre_fotos{
        font-size: 1.2rem;
    }
}

/*capitulo 3*/
@font-face {
    font-family: "Safira";
    src: url("/fonts/Safira March Personal Use Only.ttf");
}
@font-face {
    font-family: "Lulo";
    src: url("/fonts/Lulo-Clean-W01-One-Bold.ttf");
}

.c3_explicacion{
    font-family: "Safira",sans-serif;
    color: #2a3d74;
    font-size: 25pt;
    letter-spacing: 0.35em;
    text-align: center;
}

.c3_tit{
    font-family: "Lulo",sans-serif;
    font-size: 20pt;
}
@media (max-width: 428px) {
    .c3_tit{
        font-size: 12pt !important;
    }
    .btn-custom {
        padding: 5px 10px !important;
        font-size: 0.7rem;
    }
}
@media (max-width: 376px) {
    .c3_tit{
        font-size: 10pt !important;
    }
    .c3_explicacion{
        font-size: 20pt !important;
    }
}
@media (max-width: 321px) {
    .c3_explicacion{
        font-size: 17pt !important;
    }
}
.card-custom {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    border: none; /* Sin borde */
    border-radius: 0; /* Sin esquinas redondeadas */
    background-color: white; /* Fondo */
    padding: 20px; /* Espaciado interno opcional */
}

.btn-custom {
    background-color: #2a3d74;
    color: white;
    border: none; /* Sin borde */
    border-radius: 0; /* Sin esquinas redondeadas */
    padding: 10px 20px; /* Espaciado */
    transition: background-color 0.3s ease; /* Efecto suave */
}

.btn-custom:hover {
    background-color: #2a3d74; /* Cambio de color al pasar el mouse */
    color: white;
}

.text-end {
    text-align: right; /* Alinea el botón a la derecha */
}
/* Grid estilo Pinterest usando columnas */
.pinterest-grid {
    column-count: 3;
    column-gap: 1em;
  }
  .pinterest-grid .item {
    background: #fff;
    margin-bottom: 1em;
    display: inline-block; /* Necesario para que se comporte bien en columnas */
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  .pinterest-grid .item img {
    width: 100%;
    display: block;
  }
  .pinterest-grid .item .desc {
    padding: 10px;
  }
  /* Adaptabilidad: Ajuste de columnas en pantallas pequeñas */
  @media (max-width: 768px) {
    .pinterest-grid {
      column-count: 2;
    }
  }
  .expo{
    width: 100%;
    display: block;
  }


  /*capitulo 4*/
.cap4-titulo{
    font-family: "Lulo",sans-serif;
    color: white;
    font-size: 25pt;
    letter-spacing: 0.35em;
    text-align: left;
    padding-top: 5%;
    padding-left: 6%;
    margin-bottom: 5%;
}
.carousel-wrapper {
    width: 100%;
    overflow: hidden; /* Oculta las cartas que no están en pantalla */
    margin: 0 auto; /* Centra el carrusel */
}

.carousel {
    display: flex; /* Para que las cartas estén en línea */
    transition: transform 0.5s ease; /* Transición suave para el desplazamiento */
}

.card-reco {
    margin: 0 10px; /* Añade margen para separar las cartas */
    flex: 0 0 auto; /* Evita que las cartas se redimensionen */
    width: 70%; /* Cada carta ocupa todo el espacio disponible en el carrusel */
    height: 80vh;
    background-color: #fcf1d0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.5s ease; /* Añade transición suave para el movimiento */
    box-sizing: border-box;
}

.card-content {
    display: flex;
    justify-content: space-between; /* Coloca el título/texto a la izquierda y la imagen a la derecha */
    align-items: center;
    width: 100%;
    margin: 5%;
}

.card-text {
    flex: 1;
    padding-right: 1%; /* Espacio entre el texto y la imagen */
}

.card-title {
    font-size: 1.5rem;
    font-family: "Lulo",sans-serif;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    font-weight: normal;
}

.card-image {
    width: 30%; /* Tamaño de la imagen */
    height: 30%; /* Tamaño de la imagen */
}

.prev, .next {
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    padding: 15px 30px; /* Aumenta el padding para hacer los botones más grandes */
    color: rgb(5, 5, 5); /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 50%; /* Hace que los botones sean redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {

    .card-reco {
        width: 87%; /* Se ajusta el tamaño de la carta para móviles */
        margin: 0 20px !important; /* Reduce el margen */
        height: 60vh;
    }

    .card-title {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .card-description {
        font-size: 0.9rem; /* Reduce el tamaño de la descripción */
    }

    .card-image {
        max-width: 40% !important; /* Ajusta el tamaño de la imagen en móviles */
        height: auto;
    }
}

/* Media query para pantallas muy pequeñas, como móviles en modo vertical */
@media (max-width: 480px) {
    .cap4-titulo{
        font-size: 15pt !important;
    }

    .card-reco {
        width: 90%; /* Las cartas ocupan el 100% del ancho */
        height: 60vh;
    }

    .card-title {
        font-size: 1rem; /* Reduce aún más el tamaño del título */
    }

    .card-description {
        font-size: 0.6rem; /* Ajusta la descripción para que se lea bien */
    }

    .card-image {
        width: 50% !important; /* Reduce el tamaño de la imagen */
        height: 50% !important;
    }
}